node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.env.local
download
allure-report/
allure-results/
*.pdf
/jmeter-performance-testing/result/
/jmeter-performance-testing/result.csv
/jmeter-performance-testing/GraphsGenerator.jmx

